/*fonts*/

@font-face {
    font-family: 'Absans';
    src: url('../fonts/Absans-Regular.woff2');
}

/* base style */
body {
    background-color: mistyrose;
    max-width: 800px;
    margin: auto;
    
}


main {
    max-width: 65%;
    min-width: 20%;
    padding: 1rem;
    margin-left: 30%;
}

img {
    display: block;
    max-width: 100%;
    padding: 2rem;
    border: 2px solid red;
    box-sizing: border-box;
}
.navigation{
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
    max-width:30%;
    min-width:10%;
    padding:1rem;
    position:fixed;
    left:2%;
    color:#73628A;
 }
 .navigation-primary{
    font-size:18px;
 }
 .navigation-secondary{
    font-size:16px;
 }
 
p {
    font-size: 16px;
    font-family: cursive;
}

h2 {
    color: rgb(12, 221, 155);
}

.highlighted {
    background-color: coral;
    font-weight: bold;
}

.navigation a {
    color: darkmagenta
}

.navigation a:hover {
    color: red
}
  

